@import "./constants.css";

.content h1 {
    font-weight: 400;
    font-size: 50px;
    margin: 30px 0;
}

.slogan {
    width: 100%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan h2 {
    font-weight: 400;
    font-size: 30px;
}

.slogan div {
    position: relative;
    margin: 0 20px;
    display: inline-block;
    content: "";
    border-top: 3px solid var(--solace-black);
    flex: 1 1 auto;
}